<main class="bg-[#f0f0f0] flex justify-center items-center w-screen h-screen m-0 p-0">
    <div class="h-screen bg-teal-700 flex flex-col justify-center items-center w-screen md:w-2/3 ">
        <div class="bg-[#f0f0f0] flex flex-col justify-center items-center p-10 gap-2 rounded-md">
            <img src="../../assets/litshelf.svg" alt="logo" class="flex w-20">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="bg-[#f0f0f0] flex flex-col justify-center items-center p-10 gap-2">
          
                <!-- Email -->
                <div class="flex flex-col">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" class="border-1 border-teal-700 rounded-md">
                    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors" class="text-red-500">
                      <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
                      <span *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</span>
                    </div>
                </div>
                
                <!-- Password -->
            <div class="flex flex-col">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password" required class="border-1 border-teal-700 rounded-md">
                <div class="text-red-500">
                    <span *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">Password is required.</span>
                  </div>
            </div>  
            <button type="submit" class="border-1 bg-teal-700 text-white rounded-lg px-2 py-1 cursor-pointer">Login</button>
            </form>
        </div>
        
    </div>
</main>
