* {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 2% 2%;
    height: 20px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: rubik;
}

button {
    all: unset;
    width: 15%;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

img{
    height: 20px;
    padding: 5px;
}

p{
    padding: 10px;
}

#clients{
    height: 5%;
    width: 100%;
}

#hero_img {
    height: 320px;
    width: 100%;
    object-fit: fill;
}

